.imput {
    margin-right: 3rem;
}

.titolo {
    margin-left: 2rem;
}

.title {
    text-align: center;
    margin: 20px 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.logo {
    width: 160px;
    align-items: center;
    margin-left: 4rem;
}

.navbar {
    background-color: black;
    padding: 15px 0px;
}

main {
    background-color: lightgray;
}

body {
    background-color: lightgrey;
}

.rounded {
    align-items: center;
    vertical-align: middle;
}

.btn {
    margin-left: 1rem;
}


.immagine {
    position: relative;
    opacity: 100%;
    display: block;
    margin: 0 auto;
    z-index: 1;
}

.col img {
    height: 484px;
}

.immagine:hover {
    opacity: 10%;
    transition: 0.5s;
}

.scritte {
    z-index: 0;
    position: relative;
    bottom: 50%;
    background-color: black;
    color: white;
    width: 320px;
    margin: 0 auto;
    padding: 100px 20px;
    text-align: center;
    height: 484px;
    display: grid;
    place-content: center;

}


.scritte p {
    align-items: center;

}


.immagineSerie {
    position: absolute;
    z-index: 1;
    opacity: 100%;
    top: 111%;
}

.immagineSerie:hover {
    opacity: 10%;
    transition: 0.5s;
}